<!DOCTYPE html>
<html>
<head>
    <title>jQuery WeUI</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

    <link rel="stylesheet" href="/jqweui/lib/weui.min.css">
    <link rel="stylesheet" href="/jqweui/css/jquery-weui.css">
    <link rel="stylesheet" href="/jqweui/demos/css/demos.css">

</head>

<body ontouchstart>

<div class="weui-tab">
    <div class="weui-tab__bd">
        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__bd">
                    <div class="weui-search-bar" id="searchBar">
                        <form class="weui-search-bar__form" action="#">
                            <div class="weui-search-bar__box">
                                <i class="weui-icon-search"></i>
                                <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索"
                                       required="">
                                <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                            </div>
                            <label class="weui-search-bar__label" id="searchText"
                                   style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                                <i class="weui-icon-search"></i>
                                <span>搜索</span>
                            </label>
                        </form>
                        <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
                    </div>
                </div>
                <div class="weui-panel__bd">
                    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                        <div class="weui-media-box__hd" style="position: relative;margin-right: 10px;">
                            <img src="/jqweui/demos/images/avatar.jpg" style="width: 50px;display: block">
                            <span class="weui-badge"
                                  style="position: absolute;top: -.4em;right: -.4em;">8</span>
                        </div>
                        <div class="weui-media-box__bd">
                            <h4 class="weui-media-box__title">
                                刘亦菲
                                <span class="weui-media-box__title-after">下午8:12</span>
                            </h4>
                            <p class="weui-media-box__desc">小李明天早上帮我带两个包子，一个猪肉粉丝和一个奶黄包</p>
                        </div>

                    </a>
                    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                        <div class=" weui-media-box__hd" style="position: relative;margin-right: 10px;">
                            <img src="/jqweui/demos/images/avatar2.jpg" style="width: 50px;display: block">
                            <span class="weui-badge"
                                  style="position: absolute;top: -.4em;right: -.4em;">8</span>
                        </div>
                        <div class="weui-media-box__bd">
                            <h4 class="weui-media-box__title">
                                Baby
                                <span class="weui-media-box__title-after">下午7:23</span>
                            </h4>
                            <p class="weui-media-box__desc">晚上约吗？</p>
                        </div>

                    </a>
                    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                        <div class="weui-media-box__hd" style="position: relative;margin-right: 10px;">
                            <img src="/jqweui/demos/images/avatar.jpg" style="width: 50px;display: block">
                            <span class="weui-badge"
                                  style="position: absolute;top: -.4em;right: -.4em;">99+</span>
                        </div>
                        <div class="weui-media-box__bd">
                            <h4 class="weui-media-box__title">
                                刘亦菲
                                <span class="weui-media-box__title-after">下午8:12</span>
                            </h4>
                            <p style="font-size: 13px;color: #888888;">摘要信息</p>
                        </div>

                    </a>
                    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                        <div class=" weui-media-box__hd" style="position: relative;margin-right: 10px;">
                            <img src="/jqweui/demos/images/avatar2.jpg" style="width: 50px;display: block">
                            <span class="weui-badge"
                                  style="position: absolute;top: -.4em;right: -.4em;">8</span>
                        </div>
                        <div class="weui-media-box__bd">
                            <h4 class="weui-media-box__title">
                                Baby
                                <span class="weui-media-box__title-after">下午7:23</span>
                            </h4>
                            <p class="weui-media-box__desc">晚上约吗？</p>
                        </div>

                    </a>
                    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                        <div class="weui-media-box__hd" style="position: relative;margin-right: 10px;">
                            <img src="/jqweui/demos/images/avatar.jpg" style="width: 50px;display: block">
                            <span class="weui-badge"
                                  style="position: absolute;top: -.4em;right: -.4em;">8</span>
                        </div>
                        <div class="weui-media-box__bd">
                            <h4 class="weui-media-box__title">
                                刘亦菲
                                <span class="weui-media-box__title-after">下午8:12</span>
                            </h4>
                            <p style="font-size: 13px;color: #888888;">摘要信息</p>
                        </div>

                    </a>
                    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                        <div class=" weui-media-box__hd" style="position: relative;margin-right: 10px;">
                            <img src="/jqweui/demos/images/avatar2.jpg" style="width: 50px;display: block">
                            <span class="weui-badge"
                                  style="position: absolute;top: -.4em;right: -.4em;">8</span>
                        </div>
                        <div class="weui-media-box__bd">
                            <h4 class="weui-media-box__title">
                                Baby
                                <span class="weui-media-box__title-after">下午7:23</span>
                            </h4>
                            <p class="weui-media-box__desc">晚上约吗？</p>
                        </div>

                    </a>
                    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                        <div class="weui-media-box__hd" style="position: relative;margin-right: 10px;">
                            <img src="/jqweui/demos/images/avatar.jpg" style="width: 50px;display: block">
                            <span class="weui-badge"
                                  style="position: absolute;top: -.4em;right: -.4em;">8</span>
                        </div>
                        <div class="weui-media-box__bd">
                            <h4 class="weui-media-box__title">
                                刘亦菲
                                <span class="weui-media-box__title-after">下午8:12</span>
                            </h4>
                            <p style="font-size: 13px;color: #888888;">摘要信息</p>
                        </div>

                    </a>
                    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                        <div class=" weui-media-box__hd" style="position: relative;margin-right: 10px;">
                            <img src="/jqweui/demos/images/avatar2.jpg" style="width: 50px;display: block">
                            <span class="weui-badge"
                                  style="position: absolute;top: -.4em;right: -.4em;">8</span>
                        </div>
                        <div class="weui-media-box__bd">
                            <h4 class="weui-media-box__title">
                                Baby
                                <span class="weui-media-box__title-after">下午7:23</span>
                            </h4>
                            <p class="weui-media-box__desc">晚上约吗？</p>
                        </div>

                    </a>
                    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                        <div class="weui-media-box__hd" style="position: relative;margin-right: 10px;">
                            <img src="/jqweui/demos/images/avatar.jpg" style="width: 50px;display: block">
                            <span class="weui-badge"
                                  style="position: absolute;top: -.4em;right: -.4em;">8</span>
                        </div>
                        <div class="weui-media-box__bd">
                            <h4 class="weui-media-box__title">
                                刘亦菲
                                <span class="weui-media-box__title-after">下午8:12</span>
                            </h4>
                            <p style="font-size: 13px;color: #888888;">摘要信息</p>
                        </div>

                    </a>
                    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                        <div class=" weui-media-box__hd" style="position: relative;margin-right: 10px;">
                            <img src="/jqweui/demos/images/avatar2.jpg" style="width: 50px;display: block">
                            <span class="weui-badge"
                                  style="position: absolute;top: -.4em;right: -.4em;">8</span>
                        </div>
                        <div class="weui-media-box__bd">
                            <h4 class="weui-media-box__title">
                                Baby
                                <span class="weui-media-box__title-after">下午7:23</span>
                            </h4>
                            <p class="weui-media-box__desc">晚上约吗？</p>
                        </div>

                    </a>
                </div>
            </div>
        </div>
        <div id="tab2" class="weui-tab__bd-item">
            <div class="weui-panel__bd">
                <a href="javascript:;" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img src="/jqweui/demos/images/avatar.jpg" class="weui-media-box__thumb" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">标题一</h4>
                    </div>
                </a>
                <a href="javascript:;" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img src="/jqweui/demos/images/avatar.jpg" class="weui-media-box__thumb" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">标题二</h4>
                    </div>
                </a>
            </div>
        </div>
        <div id="tab3" class="weui-tab__bd-item">
            <h1>页面三</h1>
        </div>
        <div id="tab4" class="weui-tab__bd-item">
            <h1>页面四</h1>
        </div>
    </div>

    <div class="weui-tabbar">
        <a href="#tab1" class="weui-tabbar__item weui-bar__item--on">
            <span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>
            <div class="weui-tabbar__icon">
                <img src="/jqweui/demos/images/icon_nav_button.png" alt="">
            </div>
            <p class="weui-tabbar__label">微信</p>
        </a>
        <a href="#tab2" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="/jqweui/demos/images/icon_nav_msg.png" alt="">
            </div>
            <p class="weui-tabbar__label">通讯录</p>
        </a>
        <a href="#tab3" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="/jqweui/demos/images/icon_nav_article.png" alt="">
            </div>
            <p class="weui-tabbar__label">发现</p>
        </a>
        <a href="#tab4" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="/jqweui/demos/images/icon_nav_cell.png" alt="">
            </div>
            <p class="weui-tabbar__label">我</p>
        </a>
    </div>
</div>

<script src="/jqweui/lib/jquery-2.1.4.js"></script>
<script src="/jqweui/lib/fastclick.js"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
</script>
<script src="/jqweui/js/jquery-weui.js"></script>

<script>
    $("#a").select({
        title: "选择职业",
        items: ["法官", "医生", "猎人", "学生", "记者", "其他"]
    });
</script>
</body>
</html>