
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>H+ 后台主题UI框架 - 文章页面</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="/hplus4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/hplus4.1/css/font-awesome.min.css" rel="stylesheet">

    <link href="/hplus4.1/css/animate.min.css" rel="stylesheet">
    <link href="/hplus4.1/css/style.min.css" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="pull-right">
                        <button class="btn btn-white btn-xs" type="button">700BIKE</button>
                        <button class="btn btn-white btn-xs" type="button">BeginOne</button>
                        <button class="btn btn-white btn-xs" type="button">乐视超级自行车</button>
                    </div>
                    <div class="text-center article-title">
                        <h1 th:text="${article.title}">
                            自行车都智能化了，你可知道它的历史？
                        </h1>
                    </div>
                    <div th:utext="${article.content}" >
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-lg-12">

                            <h2>评论：</h2>
                            <div class="social-feed-box">
                                <div class="social-avatar">
                                    <a href="default.htm" class="pull-left">
                                        <img alt="image" src="/hplus4.1/img/a1.jpg">
                                    </a>
                                    <div class="media-body">
                                        <a href="#">
                                            逆光狂胜蔡舞娘
                                        </a>
                                        <small class="text-muted">17 小时前</small>
                                    </div>
                                </div>
                                <div class="social-body">
                                    <p>
                                        好东西，我朝淘宝准备跟进，1折开卖
                                    </p>
                                </div>
                            </div>
                            <div class="social-feed-box">
                                <div class="social-avatar">
                                    <a href="default.htm" class="pull-left">
                                        <img alt="image" src="/hplus4.1/img/a2.jpg">
                                    </a>
                                    <div class="media-body">
                                        <a href="#">
                                            避雷范儿
                                        </a>
                                        <small class="text-muted"> 16 小时前</small>
                                    </div>
                                </div>
                                <div class="social-body">
                                    <p>
                                        第一个真的好美 就是噪音太大了 挺唯美的意境瞬间变成工厂了
                                    </p>
                                </div>
                            </div>
                            <div class="social-feed-box">
                                <div class="social-avatar">
                                    <a href="default.htm" class="pull-left">
                                        <img alt="image" src="/hplus4.1/img/a3.jpg">
                                    </a>
                                    <div class="media-body">
                                        <a href="#">
                                            kamppi
                                        </a>
                                        <small class="text-muted"> 6 小时前</small>
                                    </div>
                                </div>
                                <div class="social-body">
                                    <p>
                                        好美的装置艺术，第二个让我想起了海中缓缓游动的鲸鱼。
                                    </p>
                                </div>
                            </div>
                            <div class="social-feed-box">
                                <div class="social-avatar">
                                    <a href="default.htm" class="pull-left">
                                        <img alt="image" src="/hplus4.1/img/a5.jpg">
                                    </a>
                                    <div class="media-body">
                                        <a href="#">
                                            kamppi
                                        </a>
                                        <small class="text-muted">6 小时前</small>
                                    </div>
                                </div>
                                <div class="social-body">
                                    <p>
                                        “Flylight 的灯管并不固定，由一套软件控制：每一个灯管都根据与其它灯管的互动进行移动，就像一群真正的鸟群一样。” 好像介绍的描述不对，灯管是固定的，控制的只是点亮和熄灭的时间，模拟成一团亮点移动
                                    </p>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>
<script src="/hplus4.1/js/jquery.min.js"></script>
<script src="/hplus4.1/js/bootstrap.min.js"></script>
<script src="/hplus4.1/js/content.min.js"></script>

</body>

</html>