<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>H+ 后台主题UI框架 - 富文本编辑器</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="/hplus4.1/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="/hplus4.1/css/font-awesome.min.css" rel="stylesheet">-->
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="/hplus4.1/css/animate.min.css" rel="stylesheet">
    <link href="/hplus4.1/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/plugins/summernote-0.8.9/dist/summernote.css">
    <link rel="stylesheet" href="/inspinia/css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css">
    <style>
        .btn-default {
            background-color: #fff;
            color: #333;
            border-color: #ccc;
        }

        .bootstrap-tagsinput {
            width: 100%;
        }
    </style>

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>写文章</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" action="/article/save" method="post" id="signupForm" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">标签：</label>
                            <div class="col-sm-2">
                                <select name="articleType" class="form-control" required>
                                    <option value="">请选择</option>
                                    <option th:each="articleType:${articleTypes}"
                                            th:value="${articleType.value}"
                                            th:text="${articleType.desc}"></option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">标题：</label>
                            <div class="col-sm-4">
                                <input id="title" name="title" class="form-control" type="text" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">标签：</label>
                            <div class="col-sm-8">
                                <input id="tags" name="tags" class="form-control" type="text" placeholder="输入标签">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">封面：</label>
                            <div class="col-sm-8">
                                <input type="text" name="coverImg" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-8">
                                <textarea name="content" class="summernote"></textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                <button class="btn btn-primary" type="button" onclick="save();">提交</button>
                                <button class="btn btn-primary" type="button" onclick="save();">存入草稿箱</button>
                                <button class="btn btn-primary" type="button" onclick="publishLater()">定时发布</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<script src="/hplus4.1/js/jquery.min.js"></script>
<script src="/hplus4.1/js/bootstrap.min.js"></script>
<script src="/hplus4.1/js/content.min.js"></script>
<script src="/hplus4.1/js/plugins/validate/jquery.validate.min.js"></script>
<script src="/hplus4.1/js/plugins/validate/messages_zh.min.js"></script>
<script src="/hplus4.1/js/demo/form-validate-demo.min.js"></script>

<script src="/plugins/summernote-0.8.9/dist/summernote.js"></script>
<script src="/plugins/summernote-0.8.9/dist/lang/summernote-zh-CN.js"></script>

<!-- Typehead -->
<script src="/inspinia/js/plugins/typehead/bootstrap3-typeahead.min.js"></script>
<script src="/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<script src="/plugins/bootstrap-validator-0.11.9/dist/validator.js"></script>

<script>

    $('#tags').tagsinput({
        maxTags: 5,
        itemValue: 'id',
        itemText: 'name',
        allowDuplicates: false,
        typeahead: {
            displayKey: 'name',
            source: function (query) {
                return $.get('/tags/list', {query: query});
            },
            afterSelect: function () {
                console.log(this.$element[0])
                this.$element[0].value = '';
            }
        },
        freeInput: true
    })

    $('#tags').on('beforeItemAdd', function (event) {
        console.log(event)
        var item = event.item;
        var items = $('#tags').tagsinput('items');
        console.log(items)
        for (var i = 0; i < items.length; i++) {
            if (items[i].name == item.name) {
                $('#tags').tagsinput('remove', items[i]);
            }
        }
    })

    $(document).ready(function () {

        $('.summernote').summernote({
            lang: 'zh-CN',
            height: 300,
            callbacks: {
                onImageUpload: function (files, editor, welEditable) {
                    sendFile(files, editor, welEditable);
                }
            }
        })
    });

    function sendFile(files, editor, welEditable) {

        var data = new FormData();
        $.each(files, function (idx, val) {
            data.append("files", val);
        })

        $.ajax({
            url: '/upload/uploadImg',
            type: 'POST',
            data: data,
            dataType: 'json',
            contentType: false,
            cache: false,
            processData: false,
            success: function (res) {
                if (res.success) {
                    var data = res.data;
                    $.each(data, function (i, v) {
                        console.log(v)
                        $('.summernote').summernote('insertImage', v.path, v.name);
                    })
                }
            }
        })
    }

    function save() {
        var data = $('#signupForm').serialize();
        var items = $('#tags').tagsinput('items');
        var tagNames = [];
        $.each(items,function (i, v) {
            tagNames.push(v.name);
        })
        data+='&tagNames='+ encodeURIComponent( tagNames.join(','))
        $.ajax({
            url: '/article/save',
            data: data,
            type: 'POST',
            success: function (res) {

            }
        })
    }
</script>

</body>

</html>
