<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
index.html
<button onclick="send();">send</button>
<img src="/captcha" alt="">
<hr>
<a href="/github/login">github</a>
<hr>
<a href="/weibo/login">weibo</a>
<script src="/webjarslocator/jquery/jquery.js"></script>
<script src="/plugins/sockjs/dist/sockjs.js"></script>
<script src="/plugins/stomp/lib/stomp.js"></script>

<script>
    var stompClient = null;
    function connect() {
        var socket = new SockJS('/endpoint')////连接服务端的端点，连接以后才可以订阅广播消息和个人消息
        stompClient = Stomp.over(socket);
        stompClient.connect({},function (frame) {
            //广播消息
            stompClient.subscribe('/topic/getResponse',function (message) {
              alert(JSON.stringify(message));
              alert(message.body)
            })
        })
    }

    function disconnect() {
        if (stompClient != null) {
            stompClient.disconnect();
            console.log("Disconnected");
        }
    }

    function send() {
        if(stompClient){
            stompClient.send('/say',{},JSON.stringify({userId:1}));
        }else {
            alert('连接没有创建')
        }
    }

    $(function () {
        connect();
    })

</script>
</body>
</html>