<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.colas.blog.mapper.AttachmentMapper">
  <resultMap id="BaseResultMap" type="com.zhang.colas.blog.entity.Attachment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="temp_name" jdbcType="VARCHAR" property="tempName" />
    <result column="attachment_size" jdbcType="BIGINT" property="attachmentSize" />
    <result column="attachment_ext" jdbcType="VARCHAR" property="attachmentExt" />
    <result column="attachment_type" jdbcType="INTEGER" property="attachmentType" />
    <result column="attachment_md5" jdbcType="VARCHAR" property="attachmentMd5" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_valid" jdbcType="BIT" property="isValid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, path, temp_name, attachment_size, attachment_ext, attachment_type, attachment_md5, 
    create_by, create_time, is_valid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from c_attachment
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectByMd5" parameterType="java.lang.String" resultMap="BaseResultMap">
      SELECT
        <include refid="Base_Column_List"/>
      FROM c_attachment
      WHERE attachment_md5 = #{md5}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from c_attachment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhang.colas.blog.entity.Attachment">
    insert into c_attachment (id, name, path, 
      temp_name, attachment_size, attachment_ext, 
      attachment_type, attachment_md5, create_by, 
      create_time, is_valid)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{tempName,jdbcType=VARCHAR}, #{attachmentSize,jdbcType=BIGINT}, #{attachmentExt,jdbcType=VARCHAR}, 
      #{attachmentType,jdbcType=INTEGER}, #{attachmentMd5,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{isValid,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.zhang.colas.blog.entity.Attachment">
    insert into c_attachment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="tempName != null">
        temp_name,
      </if>
      <if test="attachmentSize != null">
        attachment_size,
      </if>
      <if test="attachmentExt != null">
        attachment_ext,
      </if>
      <if test="attachmentType != null">
        attachment_type,
      </if>
      <if test="attachmentMd5 != null">
        attachment_md5,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="tempName != null">
        #{tempName,jdbcType=VARCHAR},
      </if>
      <if test="attachmentSize != null">
        #{attachmentSize,jdbcType=BIGINT},
      </if>
      <if test="attachmentExt != null">
        #{attachmentExt,jdbcType=VARCHAR},
      </if>
      <if test="attachmentType != null">
        #{attachmentType,jdbcType=INTEGER},
      </if>
      <if test="attachmentMd5 != null">
        #{attachmentMd5,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhang.colas.blog.entity.Attachment">
    update c_attachment
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="tempName != null">
        temp_name = #{tempName,jdbcType=VARCHAR},
      </if>
      <if test="attachmentSize != null">
        attachment_size = #{attachmentSize,jdbcType=BIGINT},
      </if>
      <if test="attachmentExt != null">
        attachment_ext = #{attachmentExt,jdbcType=VARCHAR},
      </if>
      <if test="attachmentType != null">
        attachment_type = #{attachmentType,jdbcType=INTEGER},
      </if>
      <if test="attachmentMd5 != null">
        attachment_md5 = #{attachmentMd5,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhang.colas.blog.entity.Attachment">
    update c_attachment
    set name = #{name,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      temp_name = #{tempName,jdbcType=VARCHAR},
      attachment_size = #{attachmentSize,jdbcType=BIGINT},
      attachment_ext = #{attachmentExt,jdbcType=VARCHAR},
      attachment_type = #{attachmentType,jdbcType=INTEGER},
      attachment_md5 = #{attachmentMd5,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_valid = #{isValid,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>